
[![README build](https://github.com/sooster910/programmers_algorithm_study/actions/workflows/main.yml/badge.svg)](https://github.com/sooster910/programmers_algorithm_study/actions/workflows/main.yml)

<h1>👋 Programmers(coding test platform) JavaScript solution & test case, auto generated README.md</h1>

<h2> Background </h2>

This repo intended for anyone who wants to improve problem solving skills with JavaScript or want to get a help from solution. All questions are available on [programmers.co.kr](https://programmers.co.kr).  

<h2>Installing from source</h3>
<h4>Requirements</h4>

Node.js 12.16.2 or newer

<h5>Check Node.js version on Terminal</h5>

```
    node -v
```

<h4>Get the source code and install packages</h4>

```javascript

git clone https://github.com/sooster910/programmers_algorithm_study.git
cd programmers_algorithm_study
npm install

```

<h4> 🛠 Install Testing Dependency :  Jest </h4>

```javascript
    npm i --save-dev jest
```

<h4>Genrate/ Getting updates README.md </h4>

```javascript
    git add <file/folder>
    git commit -m "<commit message>"
    git push origin <your origin branch name>
```


<h2>문제 리스트</h2>

<table>
    <thead>
        <tr>
            <th align="center">Tag</th>
            <th align="center">LEVEL</th>
            <th align="center">문제 제목</th>
            <th align="center">문제 링크</th>
        </tr>
    </thead>
    <tbody>
    {{#multiple}}
        <tr>
            <td align="center">{{tag}}</td>
            <td align="center">{{level}}</td>
            <td align="center">{{title}}</td>
            <td align="center"><a href="https://programmers.co.kr/{{questionURL}}"> 바로가기 </a> </td>
        </tr>
    {{/multiple}}
    </tbody>    
</table>


<p>출처: 프로그래머스 코딩 테스트 연습, https://programmers.co.kr/learn/challenges</p>

<h2> How this repo generates README.md automatically  </h2>

Tired of update GitHub README with what you've solved from [programmers.co.kr](https://programmers.co.kr/)? You want to organize, categorize the problems you've solved to save time looking for things? This would generate README file when you push your solution.  

![workflowImage](/assets/imgs/generateReadme.png)

<h3> Built with </h3>

<ul>
<li>Node.js</li>
<li>Puppeteer</li>
<li>Mustache.js</li>
<li>github actions</li>
</ul>

<p>github action enable almost everyting to automate. 

When you push your code, github action would take a steps and run node index.js. `file.getList()` basically returns the list of question titles you've solved. All `src/<short name for question title>/index.js` **must have a commented line with a question title (ex. `//키패드누르기 ` )** so that it allows nodejs to collect titles and transfer to puppeteer. 
After getting all the list of titles from your codebase, puppeteer starts launching headless browser, called chromnium and searching questions whose title name matches with file name from   `file.getList()`.  
pupeteer collects title, difficulty, and data that you want to collect and transfer to [mustache.js](https://github.com/janl/mustache.js). 
[mustache.js](https://github.com/janl/mustache.js) is a logic-less template syntax. It can be used for HTML, config files, source code - anything. It generates new markdown page.      
</p>
