today is {{date}}

<h1>👋  프로그래머스 JavaScript solution & test case </h1>

<p> 안녕하세요. 이 repository를 생성하게 된 동기는 다른 타 언어에 비해 자바스크립트로 풀어진 정보들이 조금 부족하다고 생각해 유익하게 개발자를 준비하는 분들 또는 현 개발자 분들에게 참고가 되었으면 합니다.</p>
<p> 또한, 저의 개인적인 트레이닝 툴 로써 다시 문제를 풀었을 때 테스트 케이스로 풀면 조금 더 효율적이라고 생각했습니다. </p>
<p> 이 README.md file은 github action을 이용한 자동 생성 파일입니다. 제가 문제를 하나씩 풀고 저의 코드베이스/테스트케이스/접근법을 commit 할 때마다 하단의 표에 하나씩 추가됩니다. 


<h2> 🛠 Install Testing Dependency :  Jest </h2>

```javascript
    npm i --save-dev jest
```

<h2>문제 리스트</h2>

<table>
    <thead>
        <tr>
            <th align="center">Tag</th>
            <th align="center">LEVEL</th>
            <th align="center">문제 제목</th>
            <th align="center">문제 링크</th>
        </tr>
    </thead>
    <tbody>
    {{#multiple}}
        <tr>
            <td align="center">{{tag}}</td>
            <td align="center">{{level}}</td>
            <td align="center">{{title}}</td>
            <td align="center"><a href="https://programmers.co.kr/{{questionURL}}"> 바로가기 </a> </td>
        </tr>
    {{/multiple}}
    </tbody>    
</table>

<p>출처: 프로그래머스 코딩 테스트 연습, https://programmers.co.kr/learn/challenges</p>